In [1]:
import seaborn as sns
import pandas as pd

df = sns.load_dataset("anscombe")
pd.set_option("display.precision", 2)

# Untersuchen Sie die deskriptive Analyse,
# stellen Sie die Datens√§tze grafisch dar
# und vergleichen Sie die Ergebnisse.
df.groupby("dataset").describe().T

dataset      I     II    III     IV
x count  11.00  11.00  11.00  11.00
  mean    9.00   9.00   9.00   9.00
  std     3.32   3.32   3.32   3.32
  min     4.00   4.00   4.00   8.00
  25%     6.50   6.50   6.50   8.00
  50%     9.00   9.00   9.00   8.00
  75%    11.50  11.50  11.50   8.00
  max    14.00  14.00  14.00  19.00
y count  11.00  11.00  11.00  11.00
  mean    7.50   7.50   7.50   7.50
  std     2.03   2.03   2.03   2.03
  min     4.26   3.10   5.39   5.25
  25%     6.31   6.70   6.25   6.17
  50%     7.58   8.14   7.11   7.04
  75%     8.57   8.95   7.98   8.19
  max    10.84   9.26  12.74  12.50